.admin .section-container {
  display: flex;
  justify-content: space-between;
}
.admin .coupon {
  border: 1px;
}
.admin .coupon label {
  flex: 1;
}
.admin .product-register img {
  width: 100px;
  height: 80px;
}
.admin .product-register .lbl-title {
  flex: 5;
}
.admin.product-register .lbl-price {
  flex: 1;
}
