.admin .section-container {
  display: flex;
  justify-content: space-between;
}
.admin .coupon {
  border: 1px;
}
.admin .coupon label {
  flex: 1;
}
.admin .product-register img {
  width: 100px;
  height: 80px;
}
.admin .product-register .lbl-title {
  flex: 5;
}
.admin.product-register .lbl-price {
  flex: 1;
}

.admin .products,
.admin .coupons {
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.admin .products h2,
.admin .coupons h2 {
  margin-bottom: 10px;
}
